extends layout.pug

block content
  main.articles
      each article in data
        article.list-article
          div.title
            a(href=`/${article.id}`)
              h1= article.title
          p.date(datatime=article.create_date)= new Date(article.create_date).toDateString()
          img.list-pictrue(src=article.pictrue width="100%" height="275px")
          p.summary= article.summary
